/* CSS MENU 
0. Generics 
1. Logo 
2. Salon Card
3. Mobile menu
4. message
5. ABout
**/



/* 0. Generics */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
overflow-x: hidden;
}

a {
color: inherit;
text-decoration: none !important;
}


a:hover {
color: rgb(202, 199, 199);
}

body {
    background: #fff;

}

.text-blue {
    color: #222630;

}

.text-black {
    color: #000;
}


.row {
margin: 0;
}


.unstyle-btn {
    background-color: none !important;
    border: none !important;
}

.choose-county-bar {
height: 100px;
width: 100%;
background-color: #5AC196;
position:relative;
}



.choose-county-bar-mobile {
    width: 100%;
    position:relative;
    color: #fff;

    }

    .contain-search-btn {
position: relative;

    }
    

    .select-county-btn-desktop {
        width: 200px;
        height: 40px;
        line-height: 40px;
        background-color: #5AC196;
        color: #fff;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 auto;
        }

.select-county-btn-mobile {
width: 300px;
height: 60px;
line-height: 60px;
background-color: rgb(81, 137, 180);
color: #fff;
cursor: pointer;
border-radius: 10px;
margin: 0 auto;
  font-size: 30px;

}


.contain-salon-cards {
    padding-left: 220px;
    padding-right: 220px;
}

.resultstotal {
    
    font-weight: bold;
}

.contain-desktop-header {
    font-weight: 400;
   
}

.contain-desktop-top-row {
    background-color: #3E3A3C;
}
    


.select-county-text {
color: #fff;
}


.pick {
height: 30px !important;
line-height: 30px !important;
width: 100%;
margin: 0 auto;
color: #000;
background-color: #fff;
border: none !important;
}

#resultstotal {
color: #222630;
font-size: 24px;

}

.sponsors-logo {
    width: 10%;

}

.contain-sponsor-logo {
    contain: relative;
}


.insta-feed {
width: 90vw;
height: 400px;
}

.crt-logo {
display: none !important;
}

/* 1. Logo */
.logo {
width: 350px;
height: 100px;
}

.logo-mobile {
    width: 230px;
    height: 70px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);



}

.mobile-logo {
height: 50px;
width: 70px;
}

body {
font-family: Poppins;
font-weight: 300;

}
.lightgrey-underline {
    padding-bottom: 10px;
border-bottom: 2px solid rgba(173, 173, 173, 0.548);


}


.blue-underline 
{
    padding-bottom: 10px;
border-bottom: 2px solid #5AC196;

}


.contain-top-panel {
 
    color: #fff;
}


.remove-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* 2. Salon Card */

.contain-salon{
height: 270px;
width: 100%;
position: relative;
border-radius: 10px;

margin-bottom: 80px;

}

.screenshot {
width: 100%;
height: 80%;
margin: 0 auto;
border-radius: 2px;

}

.contain-info{
max-width: 70%;
min-width: 70%;
text-align: left;
margin: 0 auto;
font-weight: bold;

}


.contain-location{
    width: 30%;
    text-align: right;
    margin: 0 auto;
    font-size: 14px;

    }
    

/* Tags */

    .county-tag {
        
        background-color: #5AC196;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        width: 90%;
        margin: 0;

    }
 


    /* Desktop Menu */
    .desktop-menu {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        height: 40px;
        width: 100%;
        margin: 0 auto;
        line-height: 40px;
    }

    .list-inline-item {
        margin-left: 30px;
        margin-right: 30px;
    }

    .menu-desktop-item {
        width: 200px;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    /* Mobile Menu */

    .contain-mobile-menu {
        height: calc(100vh);
        width: 300px;
        display: none;
        position: fixed;
        top: 80px;
        z-index: 199999999 !important;
        background-color: #3E3A3C;
        color: #fff !important;
        position: fixed;

        
    }

    .contain-desktop-menu {
  
        padding-top: 10px;
        padding-bottom: 10px;
      
       
    }




    .mobile-header {
        background-color: #3E3A3C !important;
        

    }
    
    .contain-mobile-menu-icon {
    display: relative;
    height: 40px;
   
    }

    .mobile-push-content  {
        margin-top: 80px;
    }

    .mobile-icon {
        position: absolute;
        top: 45%;
        left: 10%;
      -ms-transform: translate(-50%);
      transform: translate(-50%);
     
    }

    .mobile-title {
   line-height: 80px !important;
   font-size: 18px !important;
    }

    .powered-by {
        position: absolute;
        bottom: 1%;
        color: #000;
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
    }


    .mobile-header {
        position: fixed !important;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }


    .mob-menu-logo {
        width: 80%;
    }


    .contain-burger-icon {
        height: 80px;
        position: relative;
    }

        
        .mobile-menu-burger {
           
            cursor: pointer;
            font-size: 18px;
            color: #fff;
            line-height: 80px;
        
        }

        .support-local {
            position: absolute;
            font-size: 3vw;
            color: #fff;
            top: 50%; left: 10%;
            transform: translate(-50%,-50%);
            margin-left: 40px;

        }

        .support-local-mobile-text {

            font-size: 8vw;
            color: #fff;
        }
        

        .mobile-header {
            height: 80px;
            background-color: #fff;
            z-index: 1999999 !important;
            position: relative;
        }

        .desktop-header {
        background-color: #fff;
        z-index: 1999999 !important;
        height: 200px;
      
        }

        .contain-menu-links {
            position: relative;
        }

        .menu-links {

            position: absolute;
            top: 50%;
            right: 10%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        

        .nav-link {
            color: #fff !important;
            margin-left: 20px;
            margin-top: 10px;
            font-size: 18px;

        }

        .submit-a-salon-btn {
            width: 70%;
            height: 40px;
            line-height: 40px;
            background-color: #5AC196;
            color: #fff;
            margin: 0 auto;
        }





.contain-search-panel{
    font-size: 6vw;
    line-height: 5.5vw;
}






/* 4. Message */ 

.contain-message {
width: 150px;
height: 60px;
line-height: 60px;
text-align: center;
position: fixed;
top: 80vh;
right: 0;
background-color: #5BC196;
color: #fff;
border: none;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
cursor: pointer;
z-index: 199999999999999 !important;

}

.contain-message:hover{
background-color: #fff;
border: 2px solid #5BC196;
border-right: none;
color: #3E3A3C;
} 


   
 
.modal-body {

    background-color: #fff;
}



/* 5. About */

.about-logo-mobile {
    margin-top: 30px;
    height: 100px;
    width: 240px;
}

.insta-icon {
    font-size: 25px;
    color: #5AC196;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
}

.contain-about {
    background-color: #3E3A3C;
    color: #fff;
    font-weight: 300 !important;
}

.contain-about h3, h4 {
    font-weight: 300 !important;
}

.contain-about i{
font-size: 40px;
border-bottom: 1px solid #fff;
padding-bottom: 5px;
}


.contact-digital-salon {
    height: 40px;
    line-height: 40px;
    background-color: #D6A47C;
    width: 80%;
    margin: 0 auto;
}

.contact-digital-salon-desktop {
    height: 60px;
    line-height: 60px;
    background-color: #222630;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    
}

.contain-sponsors{
    background-color: #fff;
    color: #222630;
    font-weight: 300 !important;
}

.contain-sponsors h3 {
    font-weight: 300 !important;
}

.contain-sponsors i{
font-size: 40px;
border-bottom: 1px solid #fff;
padding-bottom: 5px;
}

.example-img {
    width: 70%;
}

.desktop-bolt {
    color: #11C4E8;
}

.contain-about-logo {
    position: relative;
}


.ds-logo-desktop {
    width: 80%;
    position: absolute;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.contain-about-desktop {
background-color: #3E3A3C;
color: #fff;
}

.top-text {
    font-size: 14px;
}

.crt-grid-post {
    margin-right: 10px;
}

.xpert-logo {
    width:7%;
}


#privacy-policy-bar {
    width: 100vw;

    background-color: #3E3A3C;
    color: #fff;
    position: relative;
    bottom: 0;
   padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
}



.social-list li i{
    font-size: 40px;
}

.contain-footer {
    background-color: #3E3A3C;
    color: #fff;
}

@media (max-width: 992px) { 
 
    .contain-salon-cards {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


}
 
@media (min-width: 1600px) { 
    .contain-salon-cards {
        padding-left: 300px !important;
        padding-right: 300px !important;
    }

    @media (min-width: 1900px) { 
        .contain-salon-cards {
            padding-left: 400px !important;
            padding-right: 400px !important;
        }}
    }


/* Media Queries */
@media (max-width: 767.98px) { 

.screenshot {
    width: 100%;
    margin: 0 auto;
    height: 80%;
}

#privacy-policy-bar  {

    font-size: 10px !important;
}

.contain-info{
    max-width: 50%;
    min-width: 50%;
    text-align: left;
    margin: 0 auto;
    font-weight: bold;
    
    }

    .contain-location{
        width: 50%;
        text-align: right;
        margin: 0 auto;
    
        }
    
        .sponsors-logo {
            width: 70%;}

            .xpert-logo {
                width: 50%;
            }

            .modal {
                margin-top: 100px !important;
            }
    

 }

